.v-doc-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  min-width: 220px;
  max-width: 220px;
  padding: 24px 0 72px;
  overflow-y: scroll;
  background-color: #fff;
  box-shadow: 0 8px 12px #ebedf0;

  &__group {
    margin-bottom: 16px;
    padding-left: 6px;
  }

  &__title {
    padding: 8px 0 8px 24px;
    color: #455a64;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;

    .tag {
      font-size: 12px;
    }
  }

  &__item {
    position: relative;

    a {
      display: block;
      margin: 8px 0;
      padding: 8px 0 8px 24px;
      color: #455a64;
      font-size: 14px;
      line-height: 20px;
      transition: color 0.2s;

      &:hover,
      &.active {
        color: #4fc08d;
      }

      &.active {
        font-weight: 600;
        background-color: #ebfff0;
        border-radius: 999px;
      }

      span {
        font-size: 13px;
      }
    }

    .new {
      position: absolute;
      top: 0;
      right: 12px;
      background-color: #ff4d4f;
      color: #fff;
      font-size: 12px;
      padding: 2px;
      border-radius: 2px;
    }
  }
}