@import 'hljs';

body {
  min-width: 1100px;
  margin: 0;
  overflow-x: auto;
  color: #323233;
  font-size: 16px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  background-color: #f7f8fa;
  -webkit-font-smoothing: antialiased;
}

label {
  font-weight: 500;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.iconfont {
  width: 1em;
  height: 1em;
  min-width: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.multi-ellipsis--l2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;

  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.multi-ellipsis--l3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;

  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

// main-container global css
.app-header {
  padding: 20px;
  background-color: #fff;
}

.app-container {
  padding: 20px;
  margin: 24px 24px 0;
  background-color: #fff;
}

.page-header-heading {
  @extend .clearfix;

  .page-header-heading-title {
    display: block;
    float: left;
    margin-bottom: 0;
    padding-right: 12px;
    color: rgba(0, 0, 0, .85);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
  }
}

.page-container {
  @extend .clearfix;

  padding: 16px 0;
}

.base-form {

}

.btn-tools {
  margin-bottom: 20px;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;

  .cont {
    text-align: center;
  }

  .title {
    color: #434e59;
    font-size: 72px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 24px;
  }

  .info {
    color: rgba(0, 0, 0, .45);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

pre {
  margin: 0;
}

code {
  padding: 12px !important;
  border-radius: 3px;
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 400;
  overflow-x: auto;
  line-height: 20px !important;
  word-break: break-all;
  white-space: pre-wrap;
  color: rgba(0, 0, 0, .85);
  background-color: rgb(246, 248, 250) !important;
  font-family: sfmono-regular, Consolas, liberation mono, Menlo, Courier, monospace;

  &.light {
    color: rgba(0, 0, 0, .85);
    background-color: rgb(246, 248, 250);
  }

  &.dark {
    color: #ccc;
    background: #282c34;
  }

  & + code {
    margin-top: 12px;
  }
}