.v-ellipsis {
  max-width: 500px;
  font-size: 12px;
  overflow: hidden;

  .btn {
  }

  .btn.mask {
    position: relative;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 80%);
    padding-top: 50px;
    margin-top: -50px;
    z-index: 1;
  }
}